{
  "env": { "browser": true },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": ["warn", "always"],
    "no-console": 1,
    "no-unused-vars": 1,
    "linebreak-style": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "global-require": 0,
    "comma-dangle": ["error", "never"],
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": true
    }]
  }
}
